:root{
   --color-one: #B5C99A; /* background color --- green */
   --color-two: #6f482b; /* font color --- brown */
}

*{
  font-family: 'Heebo';
  color:var(--color-two);
}

body {
  margin: 0;
  font-family: 'Heebo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-one);
}

/* ----------HEADER---------- */
.header{
  display:flex;
  justify-content: space-between;
  padding:1em 3em 1em 3em;
  
}

.header a {

  text-decoration: none;
  font-size:20px;
}

.header-right{
  display:flex;
  gap:1em;
}

/*---------- Intro Panel---------- */

.intro-panel{
  text-align: left;
  
}

.intro{
  position: absolute;
  width: 506px;
  height: 105px;
  left: 15%;
  top: 228px;
  
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
}


.intro-sub{
  position: absolute;
  width: 497px;
  height: 66px;
  left: 15%;
  top: 373px;

  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; 

  font-weight: bold;

}

.intro-resume-button{

position: absolute;
width: 208px;
height: 47px;
left: 15%;
top: 477px;
background: #f8e3ba;

border-radius: 10px;

font-family: 'Heebo';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;

}

.info-panel-photo{

position: absolute;
width: 293px;
height: 293px;
left: 62%;
top: 210px;
border:1px solid black;
border-radius: 100%;

}




